@{
    ViewData["Title"] = "Summer Dreams";
}

<div>
    <table class="table">
        <tbody class="headerCenter normal-gradient">
            <tr>
                <td><a href="https://www.facebook.com/summerdreamflowers"><b>Summer Dreams LLC Facebook</b> </a></td>
            </tr>
            <tr>
                <td><a href="https://www.instagram.com/summer_dreams_llc/"><b>Summer Dreams LLC Instagram</b></a></td>
            </tr>
            <tr>
                <td><b>RobandJess@summerdreamsllc.com</b></td>
            </tr>
        </tbody>
    </table>
</div>