@model IEnumerable<Capstone.Models.Item>

<div class="row">
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <h6>Price</h6>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <h6>Description</h6>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>