@model Item

@{
}
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <partial name="_ItemPartialView.cshtml" />
    </tbody>
</table>